section.about.section
    .section-inner
        h2.heading About Me
        .content
            p
                |I'm expert in web application development with 3 years of experience in practical development. I'm currently working as Senior Software Engineer at Strategic Systems International. In my free time I write about stuff that I learn constantly. I believe in a saying that "Every minute should be a learning minute". Ahh who said it??? well its me.