aside.education.aside.section
    .section-inner
        h2.heading Education
        .content
            .item
                h3.title
                    i.fa.fa-graduation-cap
                    |  BS Information Technology (Gold Medalist)
                h4.university
                    | GC University Faisalabad
                    span.year (2011-2015)
        // //content
    // //section-inner