section.experience.section
    .section-inner
        h2.heading Work Experience
        .content
            .item
                h3.title
                    | Co-Founder & Lead Developer -
                    span.place
                        a(href='#') Startup Hub
                    span.year (2014 - Present)
                p
                    | Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
            // //item
            .item
                h3.title
                    | Software Engineer -
                    span.place
                        a(href='#') Google
                    span.year (2013 - 2014)
                p
                    | Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
            // //item
            .item
                h3.title
                    | Software Engineer -
                    span.place
                        a(href='#') eBay
                    span.year (2012 - 2013)
                p
                    | Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
            // //item
        // //content
    // //section-inner
// //section