footer#footer
    #social
        a.symbol(href='https://www.facebook.com/mft891')
            | circlefacebook
        a.symbol(href='https://www.github.com/farhantahir')
            | circlegithub
        a.symbol(href='https://www.twitter.com/farhantahir891')
            | circletwitterbird
    p.small
        | © Copyright 2017 Farhan Tahir