footer#footer
    #social
        a.symbol(href='https://www.dribbble.com/')
            | circledribble
        a.symbol(href='https://www.facebook.com/')
            | circlefacebook
        a.symbol(href='https://www.github.com/')
            | circlegithub
        a.symbol(href='https://www.twitter.com/')
            | circletwitterbird
    p.small
        | © Copyright 2017 Farhan Tahir