header.header
    .container
        img.profile-image.img-responsive.pull-left.img-circle(src='/site/images/profile.jpg', alt='Farhan Tahir')
        .profile-content.pull-left
            h1.name Farhan Tahir
            h2.desc Full Stack Developer
            ul.social.list-inline
                li
                    a(href='https://twitter.com/farhantahir891' target='_blank')
                        i.fa.fa-twitter
                li
                    a(href='https://www.linkedin.com/in/mfarhantahir/' target='_blank')
                        i.fa.fa-linkedin
                li
                    a(href='https://github.com/farhantahir' target='_blank')
                        i.fa.fa-github-alt
        // //profile
        a.btn.btn-cta-primary.pull-right(href='/about')
            |  About Me
    // //container
// //header