aside.info.aside.section
    .section-inner
        h2.heading.sr-only Basic Information
        .content
            ul.list-unstyled
                li
                    i.fa.fa-map-marker
                    span.sr-only Location:
                    | Lahore, Pakistan
                li
                    i.fa.fa-envelope-o
                    span.sr-only Email:
                    a(href='mailto:mf.tahir@outlook.com') mf.tahir@outlook.com
                li
                    i.fa.fa-link
                    span.sr-only Website:
                    a(href='http://farhantahir.com/') farhantahir.com
        // //content
    // //section-inner
// //aside