.item.row
    a.col-md-2.col-sm-4.col-xs-12(href='www.google.com', target='_blank')
        img.img-responsive.project-image(src='/site/images/projects/project-5.png', alt='project name')
    .desc.col-md-10.col-sm-8.col-xs-12
        h2.title
            a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/', target='_blank')=post.postTitle
        span.text-muted=moment(post.publishedDate).format('MMM D, YYYY')
        p=post.description
        p
            a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/', target='_blank')
                i.fa.fa-external-link
                |  Read More
    // //desc
// //item