footer#post-meta.clearfix
    a(href='https://twitter.com/Your%20Twitter%20account')
        img.avatar(src='https://themes.gohugo.io/theme/cactus/images/avatar.png')
        div
            span.dark Farhan Tahir
            span I'm an blogger.
    section#sharing
        a.twitter(href='https://twitter.com/intent/tweet?text=https%3a%2f%2fthemes.gohugo.io%2ftheme%2fcactus%2fpost%2fcreating-a-new-theme%2f - Creating%20a%20New%20Theme by @Your%20Twitter%20account')
            span.icon-twitter  tweet
        a.facebook(href='#', onclick="\
        window.open(\
        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),\
        'facebook-share-dialog',\
        'width=626,height=436');\
        return false;")
            span.icon-facebook-rect  Share
