section.latest.section
    .section-inner
        h2.heading Latest Posts
        .content
            each post in posts
                include post.pug
        // //content
    // //section-inner
// //section