footer#post-meta.clearfix
    a(href='https://twitter.com/Your%20Twitter%20account')
        img.avatar(src='/site/images/profile.jpg')
        div
            span.dark Farhan Tahir
            span SSE - JS Enthusiast - Blogger
    section#sharing
        a.twitter(href=`https://twitter.com/intent/tweet?text= ${hostName}/posts/${post.slug} - ${post.postTitle}`)
            span.icon-twitter  tweet
        a.facebook(href='#', onclick="\
        window.open(\
        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),\
        'facebook-share-dialog',\
        'width=626,height=436');\
        return false;")
            span.icon-facebook-rect  Share
