section.latest.section
    .section-inner
        h2.heading Latest Posts
        .content
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-5.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/', target='_blank') Atom - Designed for Mobile Apps
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus.
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-4.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/', target='_blank') DevStudio - Designed for Web Development Agencies
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. .
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-1.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/', target='_blank') Tempo - Designed for Startups
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus.
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-2.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank') Delta - Designed for Mobile Apps
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-5.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/', target='_blank') Atom - Designed for Mobile Apps
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus.
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-4.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/', target='_blank') DevStudio - Designed for Web Development Agencies
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. .
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-1.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/', target='_blank') Tempo - Designed for Startups
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus.
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-2.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank') Delta - Designed for Mobile Apps
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-5.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/', target='_blank') Atom - Designed for Mobile Apps
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus.
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-4.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/', target='_blank') DevStudio - Designed for Web Development Agencies
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. .
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-1.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/', target='_blank') Tempo - Designed for Startups
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus.
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
            .item.row
                a.col-md-2.col-sm-4.col-xs-12(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank')
                    img.img-responsive.project-image(src='/site/images/projects/project-2.png', alt='project name')
                .desc.col-md-10.col-sm-8.col-xs-12
                    h2.title
                        a(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank') Delta - Designed for Mobile Apps
                    span.text-muted Nov 20, 2017
                    p
                        | You can put one of your secondary projects here. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus
                    p
                        a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank')
                            i.fa.fa-external-link
                            |  Read More
                // //desc
            // //item
        // //content
    // //section-inner
// //section