.profile
    section#wrapper
        header#header
            a(href='/about')
                img(id='avatar.2x' src='/site/images/profile.jpg' class='profile-image')
            h1 Farhan Tahir
            h2 SSE - JS Enthusiast - Blogger