.profile
    section#wrapper
        header#header
            a(href='https://themes.gohugo.io/theme/cactus/about')
                img(id='avatar.2x' src='https://themes.gohugo.io/theme/cactus/images/avatar.png')
            h1 Farhan Tahir
            h2 Blogger & Programmer