section.projects.section
    .section-inner
        h2.heading Projects
        .content
            .item
                h3.title
                    a(href='#') Project Title Cras Lacus
                p.summary
                    | Provide a brief description of your project. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatu.
                p
                    a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank')
                        i.fa.fa-external-link
                        |  Find out more
            // //item
            .item
                h3.title
                    a(href='#') Project Title Cras eget lacus
                    span.label.label-theme Open Source
                p.summary
                    | Provide a brief description of your project. Maecenas ornare ultricies risus, in fermentum augue consectetur in. Vestibulum vitae mauris iaculis, sollicitudin velit in, molestie nulla.
                p
                    a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank')
                        i.fa.fa-external-link
                        |  View on GitHub
            // //item
            .item
                h3.title
                    a(href='#') Project Title Maecenas Ornare
                    span.label.label-theme Open Source
                p.summary
                    | Provide a brief description of your project. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel purus enim. Etiam tortor felis, fermentum ac ultrices sed.
                p
                    a.more-link(href='http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/', target='_blank')
                        i.fa.fa-external-link
                        |  View on GitHub
            // //item
            a.btn.btn-cta-secondary(href='#')
                | More on CoderWall
                i.fa.fa-chevron-right
        // //content
    // //section-inner
// //section