section.projects.section
    .section-inner
        h2.heading Projects
        .content
            each project in projects
                .item
                    h3.title=project.title

                    p.summary=project.description
                    p
                        if(project.projectURL)
                            a.more-link(href=project.projectURL, target='_blank')
                                i.fa.fa-external-link
                                |  Find out more
                // //item
        // //content
    // //section-inner
// //section