aside.testimonials.aside.section
    .section-inner
        h2.heading Testimonials
        .content
            .item
                blockquote.quote
                    p
                        i.fa.fa-quote-left
                        | Farhan is a thorough and dedicated resource. He is one of the few developers who admit peacefully the valid defects found in their applications; otherwise he presents quite logical reasons against them. He has strong grip on PHP technologies and API development; and pretty good understanding of his projects' domains. He also possess good analytical and communication skills. I have a nice experience of working with him on few projects. This is the type of resource every team must have.
                p.source
                    span.name Waqar M Javaid
                    br
                    span.title Sr. SQA Engineer
            // //item
            p
                a.more-link(href='https://www.linkedin.com/in/mfarhantahir/' target='_blank')
                    i.fa.fa-external-link
                    |  More on Linkedin
        // //content
    // //section-inner
// //section