aside.skills.aside.section
    .section-inner
        h2.heading Skills
        .content
            .skillset
                .item
                    h3.level-title
                        | PHP, Laravel & Lumen
                        span.level-label(data-toggle='tooltip', data-placement='left', data-animation='true', title='') Expert
                    .level-bar
                        .level-bar-inner(data-level='96%')
                    // //level-bar
                // //item
                .item
                    h3.level-title
                        | Javascript, NodeJs, ExpressJs & Mongodb
                        span.level-label Expert
                    .level-bar
                        .level-bar-inner(data-level='85%')
                    // //level-bar
                // //item
                .item
                    h3.level-title
                        | HTML5, CSS3, Bootstrap, webpack
                        span.level-label Expert
                    .level-bar
                        .level-bar-inner(data-level='80%')
                    // //level-bar
                // //item
                .item
                    h3.level-title
                        | SQL, MySQL, Database Designs
                        span.level-label Expert
                    .level-bar
                        .level-bar-inner(data-level='80%')
                    // //level-bar
        // //content
    // //section-inner
// //section