doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="author" content="Farhan Tahir")
        meta(name="description" content=`${description}`)
        title
            block pageTitle
        link(rel="icon" type="image/png" href='/favicon.png')
        <!--[if lt IE 9]>
        script(src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
        script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
        <![endif]-->
        block styles
            link(rel='stylesheet' href = '/dist/Site.css')
    body.background
        include ../components/navigation/auth_aware_top_nav
        <div class="container-fluid">
            <div class="col-xs-12">
                block content
            </div>
        </div>
        <br><br><br>
        include ../components/footer
                block scripts
                    script(src='/dist/Site.bundle.js')
