
doctype html
html(lang='en-us')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Farhan Tahir
        link(rel='stylesheet', href='/dist/Site.css')
    body
        nav.main-nav
            if(activePage === 'postDetail' || activePage === 'about')
                a(href='/')
                    span.arrow ←Home

            a(href='/about') About
        section#wrapper
                block content
                nav#post-nav
                include ../_sitePartials/footer
        block scripts
            script(type='text/javascript', src='/dist/Site.bundle.js')
