div(class='panel-footer fix-footer')
    div.container-fluid
        div.col-xs-12
            div(class='col-xs-12 col-md-3')
                address.white-color
                    strong Bit Articles, Inc.
                    br
                    | 795 Folsom Ave, Suite 600
                    br
                    | San Francisco, CA 94107
                    br
                    abbr(title='Phone')
                        abbr    P:
                    | (123) 456-7890
                    br
                    br
                    | Copyrights &nbsp;
                    span(class='fa fa-copyright')
                    | 2017&nbsp;
                    strong Bit Articles
            div(class='col-sm-12 col-md-6 hidden-xs')
                div.col-sm-6
                    a(href="#" class="white-color")
                        b Blog
                    br
                    br
                    a(href="#" class="white-color")
                        b Contact us
                    br
                    br
                    a(href="#" class="white-color")
                        b About us
                    br
                    br
                div.col-sm-6
                    a(href="#" class="white-color")
                        b Privacy Policy
                    br
                    br
                    a(href="#" class="white-color")
                        b Terms of service
                    br
                    br
                    a(href="#" class="white-color")
                        b Site map
                    br
                    br
            div(class='col-xs-12 col-md-3')
                h4.white-color Connect with us
                a(href="" class="white-color")
                    span(class="fa fa-facebook-official fa-2x" aria-hidden="true")
                a(href="" class="white-color")
                    span(class="fa fa-instagram fa-2x" aria-hidden="true")
                a(href="" class="white-color")
                    span(class="fa fa-twitter fa-2x" aria-hidden="true")
                a(href="" class="white-color" )
                    span(class="fa fa-pinterest fa-2x" aria-hidden="true")
                a(href="" class="white-color")
                    span(class="fa fa-google-plus-official fa-2x" aria-hidden="true")