extends layouts/app
block content
    include _sitePartials/header
    .container.sections-wrapper
        a.back_to_posts(href='/') Back to Main
        .row
            .primary.col-md-8.col-sm-12.col-xs-12
                include _sitePartials/about
                include _sitePartials/projects
                include _sitePartials/experiences
            // //primary
            .secondary.col-md-4.col-sm-12.col-xs-12
                include _sitePartials/sidebar

        include _sitePartials/footer