extends layouts/app
block content
    include _sitePartials/header
    .container.sections-wrapper
        .row
            .primary.col-md-12.col-sm-12.col-xs-12
                include _sitePartials/about
                include _sitePartials/posts
                button.btn.btn-default.center-block Load More
            // //primary

