extends layouts/app
block content
    article.post
        header
            h1 Creating a New Theme
            h2.headline
                | September 28, 2014
                br
        section#post-body!=post.content
        include _sitePartials/post_footer

