extends  ../layouts/main
include  ../mixins/_postForm
block content
    .content-wrapper
        .container-fluid
            +postForm(post || undefined)

append scripts
    script(src='/admin/vendor/ckeditor/ckeditor.js')
