nav(class='navbar navbar-default white-background' role='navigatio')
    div.container-fluid
        div.navbar-header
            a(
                href= user ? '/home' : ''
                class='navbar-brand'
                ) Bit Articles

        ul(class='nav navbar-nav pull-right')
            if user
                li
                    a(href='/logout') Logout
            else
                li
                    a(href='/login') Login
                li
                    a(href='/register') Register

